<<<<<<< HEAD
@import './init.scss';
body {
  h1 {
    background-color: cornflowerblue;
  }
}

.hide {
  display: none;
=======
@import './init.scss';
body {
  h1 {
    background-color: cornflowerblue;
  }
}

.hide {
  display: none;
>>>>>>> 92864930941ff5be66afca76a24276c5a16939b8
}