<<<<<<< HEAD
$colors: YellowGreen, Tan, SpringGreen, PaleGreen, wheat, DimGray;
$height_diff: 40px;

div.controlls {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;

  div.select {
    width: 100%;
    position: relative;
    .preview {
      position: absolute;
      right: 35px;
      background-image: url(/content/UI.png);
      background-repeat: no-repeat;
      background-position-x: 0;
      // background-size: 100% 100%;
      zoom: 0.25;
      -moz-transform: scale(.25);
      -moz-transform-origin: 0 0;
      content: '';
      width: calc(1050px / 7);
      height: calc(1050px / 7);

      &::after {
        position: absolute;
        z-index: 2;
        top: -12px;
        left: 0;
        font-size: 32pt;
        text-align: center;
        line-height: 50%;

        width: 100%;
        height: 20%;
      }
    }
    .body {
      visibility: hidden;
      position: absolute;
      right: 80px;
      width: 80%;
      opacity: 0;
      transition: opacity .3s;
      padding: 0;
      margin: 0;

      .header {
        background-color: cornflowerblue;
        width: 100%;
        height: 50px;
        position: relative;

        h3 {
          line-height: 50px;
          text-align: center;
          padding: 0;
          margin: 0;
          width: calc(100% - 50px);
        }
        .view {
          position: absolute;
          margin: 5px;
          box-sizing: border-box;
          top: 0;
          right: 0;
          height: calc(100% - 10px);
          min-width: 40px;
        }
      }

      .main, .list {
        position: relative;
        left: 5%;
        background-color: tomato;
        width: 90%;
        padding: 10px;
        box-sizing: border-box;
      }
      .list {
        display: grid;
        grid-template-columns: .5fr 0.5fr .5fr;
        grid-gap: 10px;
        // display: none;
        // transform: translateY(-100%);
        // width: 
        z-index: 8;

        img, span {
          width: 100%;
        }
      }
    }

    &.selected {
      .preview {
        background-position-x: -150px;
      }
      .body {
        visibility: visible;
        display: block;
        opacity: 1;
      }
    }
  }

  .textures {
    top: 0;
    .preview {
      background-position-y: 0;
    }
  }
  .colors {
    top: calc(#{$height_diff});
    .preview {
      background-position-y: -150px;
    }

    .body {
      .list {
        @for $i from 1 through length($colors) {
          span:nth-child(#{length($colors)}n+#{$i}) {
            background-color: nth($colors, $i)
          }
        }

        span {
          content: '';
          display: block;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
  .background {
    top: calc(#{$height_diff}*2);
    .preview {
      background-position-y: -600px;
    }
  }
  .noise {
    top: calc(#{$height_diff}*3);
    .preview {
      background-position-y: -300px;
    }
  }
  .mask {
    top: calc(#{$height_diff}*4);
    .preview {
      background-position-y: -750px;
    }
    .body {
      .header {
        img {
          max-width: 30%;
        }
      }
      .list {
        grid-template-columns: .5fr .5fr !important;
      }
    }
  }
}


@mixin thumb {
  background-color: orange;
  box-shadow: 0 0 5px #333;
  width: 22px;
  height: 22px;

  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@mixin track {
  background-color: #996633;
  height: 10px;

  border-top: 2px #604020 solid;
  border-bottom: 2px #cc9966 solid;  
  box-sizing: border-box;
  border-radius: 5px;
  // transform: translateY(-25%);
}
.slider {
  position: relative;
  label {
    display: block;
    padding-top: 3px;
    margin-bottom: 5px;
  }
  input[type=range] {
    width: 80%;
    margin-bottom: 5px;
    -webkit-appearance: none;
    background: transparent;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb;
    }
    &:-moz-range-thumb {
      @include thumb;
    }
    &:-ms-thumb {
      @include thumb;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &:focus {
      outline: none;
    }
    &:-ms-track {
      width: 100%;
      cursor: pointer;
  
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  span {
    position: absolute;
    right: 0;
    width: 20%;
    text-align: center;
    transform: translateY(-25%);
  }
=======
$colors: YellowGreen, Tan, SpringGreen, PaleGreen, wheat, DimGray;
$height_diff: 40px;

div.controlls {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;

  div.select {
    width: 100%;
    position: relative;
    .preview {
      position: absolute;
      right: 35px;
      background-image: url(/content/UI.png);
      background-repeat: no-repeat;
      background-position-x: 0;
      // background-size: 100% 100%;
      zoom: 0.25;
      -moz-transform: scale(.25);
      -moz-transform-origin: 0 0;
      content: '';
      width: calc(1050px / 7);
      height: calc(1050px / 7);

      &::after {
        position: absolute;
        z-index: 2;
        top: -12px;
        left: 0;
        font-size: 32pt;
        text-align: center;
        line-height: 50%;

        width: 100%;
        height: 20%;
      }
    }
    .body {
      visibility: hidden;
      position: absolute;
      right: 80px;
      width: 80%;
      opacity: 0;
      transition: opacity .3s;
      padding: 0;
      margin: 0;

      .header {
        background-color: cornflowerblue;
        width: 100%;
        height: 50px;
        position: relative;

        h3 {
          line-height: 50px;
          text-align: center;
          padding: 0;
          margin: 0;
          width: calc(100% - 50px);
        }
        .view {
          position: absolute;
          margin: 5px;
          box-sizing: border-box;
          top: 0;
          right: 0;
          height: calc(100% - 10px);
          min-width: 40px;
        }
      }

      .main, .list {
        position: relative;
        left: 5%;
        background-color: tomato;
        width: 90%;
        padding: 10px;
        box-sizing: border-box;
      }
      .list {
        display: grid;
        grid-template-columns: .5fr 0.5fr .5fr;
        grid-gap: 10px;
        // display: none;
        // transform: translateY(-100%);
        // width: 
        z-index: 8;

        img, span {
          width: 100%;
        }
      }
    }

    &.selected {
      .preview {
        background-position-x: -150px;
      }
      .body {
        visibility: visible;
        display: block;
        opacity: 1;
      }
    }
  }

  .textures {
    top: 0;
    .preview {
      background-position-y: 0;
    }
  }
  .colors {
    top: calc(#{$height_diff});
    .preview {
      background-position-y: -150px;
    }

    .body {
      .list {
        @for $i from 1 through length($colors) {
          span:nth-child(#{length($colors)}n+#{$i}) {
            background-color: nth($colors, $i)
          }
        }

        span {
          content: '';
          display: block;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
  .background {
    top: calc(#{$height_diff}*2);
    .preview {
      background-position-y: -600px;
    }
  }
  .noise {
    top: calc(#{$height_diff}*3);
    .preview {
      background-position-y: -300px;
    }
  }
  .mask {
    top: calc(#{$height_diff}*4);
    .preview {
      background-position-y: -750px;
    }
    .body {
      .header {
        img {
          max-width: 30%;
        }
      }
      .list {
        grid-template-columns: .5fr .5fr !important;
      }
    }
  }
}


@mixin thumb {
  background-color: orange;
  box-shadow: 0 0 5px #333;
  width: 22px;
  height: 22px;

  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@mixin track {
  background-color: #996633;
  height: 10px;

  border-top: 2px #604020 solid;
  border-bottom: 2px #cc9966 solid;  
  box-sizing: border-box;
  border-radius: 5px;
  // transform: translateY(-25%);
}
.slider {
  position: relative;
  label {
    display: block;
    padding-top: 3px;
    margin-bottom: 5px;
  }
  input[type=range] {
    width: 80%;
    margin-bottom: 5px;
    -webkit-appearance: none;
    background: transparent;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb;
    }
    &:-moz-range-thumb {
      @include thumb;
    }
    &:-ms-thumb {
      @include thumb;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &:focus {
      outline: none;
    }
    &:-ms-track {
      width: 100%;
      cursor: pointer;
  
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  span {
    position: absolute;
    right: 0;
    width: 20%;
    text-align: center;
    transform: translateY(-25%);
  }
>>>>>>> 92864930941ff5be66afca76a24276c5a16939b8
}